@import '../../styles/styles.scss';

.sidebar {
  width: 25%;
  height: 100%;
  background-color: $cNOffWhite;
  position: relative;
}

.sidebar__content {
  padding: 1rem;
  width: 100%;
}

.search {
  &__input-container {
    border-radius: 3px;
    background-color: $cNWhite;
    border: 1px solid $cNOffBlack;
    box-shadow: none;
    min-height: 2.6rem;
    padding: 0.5rem;
    width: 100%;
  }

  &__input {
    @include fBody('sm');

    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: none;
    border: none;
    width: 100%;
    color: $cNOffBlack;
    outline: none;
  }

  &__dropdown {
    display: none;

    position: absolute;
    background-color: $cNWhite;
    min-height: 3rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 12px rgba($cNOffBlack, 0.2);
    padding: 0.5rem;
    cursor: pointer;
    right: 16px;
    left: 16px;
    max-height: calc(100% - 60px);
    overflow: scroll;
    &:focus {
      outline: none;
    }
    &--active {
      display: block;
    }

    &__item {
      margin: 0.5rem 0;
      border-bottom: 1px solid $cMud;

      &-active {
        color: $cAActive;
      }

      &:hover {
        background-color: $cMist;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    height: 40%;
    width: 100%;
  }
}
